<%# src/data/docs/cv/cv_en_us.ejs %>

<% var cv_en_us = public.data.docs.cv._data.cv_en_us; %>

<h1><%= cv_en_us.sitename_.substring(2) %></h1>
<h3><%= cv_en_us.subtitle3              %></h3>
<p><%= cv_en_us.preamble1 %> | <%= cv_en_us.preamble2 %></p>
<div id="cv-cont">
</div>

<%# vim:set nu et ts=4 sw=4: %>
