<%# src/data/docs/cv/cv_ru_ru.ejs %>

<% var cv_ru_ru = public.data.docs.cv._data.cv_ru_ru; %>

<h1><%= cv_ru_ru.sitename_.substring(2) %></h1>
<h3><%= cv_ru_ru.subtitle3              %></h3>
<p><%=  cv_ru_ru.preamble1 %></p>
<p><%=  cv_ru_ru.preamble2 %></p>
<div   id="cv-cont">
<table id="cv-table0">
<tbody>
<tr>
<td colspan="2">РЕЗЮМЕ</td>
</tr>
<tr>
<td colspan="2">Суммарный опыт работы в сфере ИТ &ndash; более 20 лет</td>
</tr>
<tr>
<td>Вычислительные<br />платформы</td>
<td><ul>
<li>Intel x86 (i686 / x86-64)</li>
<li>HP PA-RISC</li>
<li>IBM PowerPC</li>
<li>Sun SPARCstation</li>
</ul></td>
</tr>
<tr>
<td>Операционные<br />системы</td>
<td>Юниксы и их производные (OpenBSD, FreeBSD, Arch Linux, Debian GNU/Linux, Ubuntu, Fedora, CentOS, Red Hat Enterprise Linux, Mac OS X, HP-UX, IBM AIX, Sun Solaris). Microsoft Windows</td>
</tr>
<tr>
<td>Языки<br />программирования</td>
<td>Java, Clojure, Perl 5, Python, Bash Shell Script, JavaScript (ES5-6/Node.js), C, Go, GNOME Vala/Genie, Lua, C++,Objective-C, Fortran 95, Erlang, Elixir, LFE (Lisp Flavoured Erlang)</td>
</tr>
<tr>
<td>Технологии</td>
<td>:smiley:</td>
</tr>
</tbody>
</table>
</div>

<%# vim:set nu et ts=4 sw=4: %>
