<%# src/data/docs/cv/cv_ru_ru.ejs %>

<% var cv_ru_ru = public.data.docs.cv._data.cv_ru_ru; %>

<h1><%= cv_ru_ru.sitename_.substring(2) %></h1>
<h3><%= cv_ru_ru.subtitle3              %></h3>
<p><%- cv_ru_ru.preamble1 %> | <%= cv_ru_ru.preamble2 %></p>
<div id="cv-cont">
</div>

<%# vim:set nu et ts=4 sw=4: %>
