#
# .gitignore
# =============================================================================
# A mug of Radicchio. Version 0.1
# =============================================================================
# A mug of Radicchio: A personal website of a power looper and web devver.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Jekyll objects ==========================================================
_site/
.sass-cache/

# === Object files ============================================================
*.o

# === Executables =============================================================
content/dev/misc/dnsresolvd/c/dnsresolvd

# === Node modules ============================================================
node_modules/

# vim:set nu:et:ts=4:sw=4:
