#
# .gitignore
# =============================================================================
# A Cup of Radicchio. Version 1.2.3
# -----------------------------------------------------------------------------
# A Cup of Radicchio: A personal website of a power looper,
#                                           a skateboarder,
#                                       and a coder.
# =============================================================================
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Jekyll objects ==========================================================
_site/
.sass-cache/

# === Libraries ===============================================================
/lib/

# === 3rd-party libraries =====================================================
node_modules/

# vim:set nu et ts=4 sw=4:
