<%# src/data/blog/edit.ejs %>

<% var edit = public.data.blog._data.edit; %>

<h1><%= edit.sitename_.substring(2) %></h1>
<h3><%= edit.subtitle3              %></h3>
<p><%-  edit.preamble_ %></p>
<div id="edit-cont">
<textarea name="editor" rows="25" cols="80" id="editor"></textarea>
</div>

<%# vim:set nu et ts=4 sw=4: %>
