
<section id="featured-slider">
    <div class="slider-cycle">
        <div class="slides displayblock">
            <figure>
                <img width="1300" height="300" alt="Slider News 1"
                       src="//fpk.x-abcd.io/downloads/2020/12/00-slider-news-1-1300x300-02.jpg" />
            </figure>
            <div class="entry-container">
                <div class="entry-description-container">
                    <div class="slider-title-head"><h3 class="entry-title">
                        <a href="" title="Логистика"><span>Логистика</span></a>
                    </h3></div>
                </div>
                <div class="clearfix"></div>
                <a class="slider-read-more-button" href="" title="Логистика">Читать далее</a>
            </div>
        </div>
        <div class="slides displaynone">
            <figure>
                <img width="1300" height="300" alt="Slider News 2"
                       src="//fpk.x-abcd.io/downloads/2020/12/01-slider-news-2-1300x300-02.jpg" />
            </figure>
            <div class="entry-container">
                <div class="entry-description-container">
                    <div class="slider-title-head"><h3 class="entry-title">
                        <a href="" title="Бухучёт и контроль"><span>Бухучёт и контроль</span></a>
                    </h3></div>
                </div>
                <div class="clearfix"></div>
                <a class="slider-read-more-button" href="" title="Бухучёт и контроль">Читать далее</a>
            </div>
        </div>
        <div class="slides displaynone">
            <figure>
                <img width="1300" height="300" alt="Slider News 3"
                       src="//fpk.x-abcd.io/downloads/2020/12/02-slider-news-3-1300x300-02.jpg" />
            </figure>
            <div class="entry-container">
                <div class="entry-description-container">
                    <div class="slider-title-head"><h3 class="entry-title">
                        <a href="" title="Правоведение"><span>Правоведение</span></a>
                    </h3></div>
                </div>
                <div class="clearfix"></div>
                <a class="slider-read-more-button" href="" title="Правоведение">Читать далее</a>
            </div>
        </div>
        <div class="slides displaynone">
            <figure>
                <img width="1300" height="300" alt="Slider News 4"
                       src="//fpk.x-abcd.io/downloads/2020/12/03-slider-news-4-1300x300-02.jpg" />
            </figure>
            <div class="entry-container">
                <div class="entry-description-container">
                    <div class="slider-title-head"><h3 class="entry-title">
                        <a href="" title="Бухучёт и контроль в промышленности"><span>Бухучёт и контроль в промышленности</span></a>
                    </h3></div>
                </div>
                <div class="clearfix"></div>
                <a class="slider-read-more-button" href="" title="Бухучёт и контроль в промышленности">Читать далее</a>
            </div>
        </div>
        <div class="slides displaynone">
            <figure>
                <img width="1300" height="300" alt="Slider News 5"
                       src="//fpk.x-abcd.io/downloads/2020/12/04-slider-news-5-1300x300-02.jpg" />
            </figure>
            <div class="entry-container">
                <div class="entry-description-container">
                    <div class="slider-title-head"><h3 class="entry-title">
                        <a href="" title="Управление персоналом"><span>Управление персоналом</span></a>
                    </h3></div>
                </div>
                <div class="clearfix"></div>
                <a class="slider-read-more-button" href="" title="Управление персоналом">Читать далее</a>
            </div>
        </div>
        <nav id="controllers" class="clearfix"></nav>
    </div>
</section>

