
/* === FPK.I-BTEU.BY Spacious Theme Custom CSS ============================= */

a {
    transition: none;
}

/* --- Masthead - Begin ---------------------------------------------------- */
div#fpk-header-topbar {
    padding:          4px 4px 4px 8px;
    background-color: #0fbe7c;
    font-size:        0.8em;
    display:          flex;
    justify-content:  space-between;
}
div.fpk-social-media-icons-ex {
    border:           1px solid #0ead6b;
    padding-top:      0px     !important;
    background-color: #0ead6b !important;
    font-size:        0.94em  !important;
}
div.fpk-social-media-icons-ex:hover,
div.fpk-social-media-icons-ex:active {
    border:           1px solid #0fbe7c;
    background-color: #0fbe7c !important;
}
a.bvi-link-shortcode {
    vertical-align: top !important;
    font-size: 0.95em;
}
div.quotescollection-quote-wrapper {
    margin:      10px 15em 0px;
    text-align:  center;
    color:       #ffffff;
    font-size:   1.2em;
    font-weight: bold;
    position:    absolute;
}
div.quotescollection-quote-wrapper p {
    font-size: 1.2em;
}
div.quotescollection-quote-wrapper div.attribution {
    padding-left: 30em;
    color:        #3fefaf;
}
@media screen and (max-width: 768px) {
    div.quotescollection-quote-wrapper {
        margin:      5px 20px 0px;
        line-height: 1em;
        font-size:   0.9em;
    }
    div.quotescollection-quote-wrapper p {
        line-height: 1em;
        font-size:   1.1em;
    }
    div.quotescollection-quote-wrapper div.attribution {
        padding-left: 15em;
    }
}
img.header-image,
div#header-text-nav-container {
    border: 0;
}
.better-responsive-menu #site-navigation,
.better-responsive-menu #header-text-nav-container {
    margin: 0;
}
div#header-text-nav-wrap {
    display: none;
}
.spacious-header-display-four .bottom-menu .main-navigation {
    width: 100%;
}
div.bottom-menu.clearfix {
    background-color: #0fbe7c;
}
div.inner-wrap.clearfix {
    width: 100%;
}
nav#site-navigation.main-navigation.clearfix {
    padding: 0;
}
li.mega-menu-item > a.mega-menu-link {
    font-size: 1.3em !important;
}
ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    font-size: 1.4em !important;
}
li#mega-menu-item-534 > a.mega-menu-link > span.mega-indicator,
li#mega-menu-item-538 > a.mega-menu-link > span.mega-indicator {
    float: none !important;
}
@media screen and (max-width: 768px) {
    div.bottom-menu.clearfix {
        background-color: #ffffff;
    }
}
section#featured-slider {
    margin:        10px 10px 0px;
    border-bottom: 0;
}
section#featured-slider img {
    border-radius: 10px;
}
section#featured-slider div.entry-description-container {
    border-radius: 8px;
}
section#featured-slider div.entry-description-container div.slider-title-head {
    margin: 0;
}
section#featured-slider div.entry-description-container h3.entry-title span {
    padding-bottom: 2px;
    font-size:      0.85em;
}
section#featured-slider a.slider-read-more-button {
    border-radius:    4px;
    padding-left:     24px;
    background-color: transparent;
    font-size:        0.9em;
    font-weight:      bold;
}
section#featured-slider a.slider-read-more-button:hover {
    background-color: #0fbe7c;
}
/* --- Masthead - End ------------------------------------------------------ */

/* --- Footer - Begin ------------------------------------------------------ */
h2.fpk-footer-sidebar-caption {
    margin-bottom:     10px;
    border-bottom:     3px solid #0fbe7c;
    padding-bottom:    5px;
    text-align:        center;
    color:             #0fbe7c;
    font-size:         1.9em;
    font-weight:       bold;
    font-variant-caps: all-small-caps;
}
ul#menu-footer-menu {
    margin: 15px 5px;
}
li#menu-item-1210,
li#menu-item-1211,
li#menu-item-1212,
li#menu-item-1740 {
    font-size: 1.3em;
}
p.fpk-footer-sidebar-paragraph {
    margin:      0;
    padding-top: 15px;
    text-align:  center !important;
    font-size:   1.3em  !important;
}
p.fpk-footer-sidebar-paragraph-ex {
    color: #cccccc !important;
}
img.fpk-footer-sidebar-logo {
    width:         80px;
    height:        80px;
    border:        0;
    border-radius: 8px;
}
div.fpk-footer-sidebar-contact-us-button {
    margin:            1.65em 3.5em;
    border:            2px solid #0fbe7c;
    border-radius:     8px;
    padding:           6px 20px 8px;
    text-align:        center;
    color:             #0fbe7c;
    font-size:         1.6em;
    font-weight:       bold;
    font-variant-caps: all-small-caps;
}
div.fpk-footer-sidebar-contact-us-button:hover,
div.fpk-footer-sidebar-contact-us-button:active {
    background-color: #0fbe7c;
    color:            #ffffff !important;
}
div.fpk-social-media-icons {
    max-height:       2.8em;
    border-radius:    8px;
    padding-top:      4px;
    padding-bottom:   0px;
    background-color: #0fbe7c;
    display:          inline-block;
}
div.footer-socket-wrapper {
    height:           25px;
    border:           0;
    padding-top:      4px;
    background-color: #0fbe7c;
}
div.copyright {
    color: #000000 !important;
}
div.footer-socket-wrapper div.copyright {
    max-width:  100%;
    text-align: center;
    font-size:  medium;
    float:      none;
}
div.copyright a {
    color: #ffffff !important;
}
div.tg-one-third,
div.tg-one-third.tg-column-2,
div.tg-one-third.tg-after-two-blocks-clearfix {
    padding-bottom: 0 !important;
}
#colophon .widget {
    padding: 0;
}
.widget_text .textwidget {
    padding: 0;
}
/* --- Footer - End -------------------------------------------------------- */

/* --- Content - Begin ----------------------------------------------------- */
.widget_service_block .widget-title {
    font-weight: bold;
}
.widget_service_block .widget-title a {
    color: #0fbe7c;
}
.widget_service_block .more-link-wrap {
    display: none;
}
.widget_service_block .more-link-wrap .more-link {
    font-size: 1em;
}
h1.header-post-title-class {
    color:       #0fbe7c;
    font-weight: bold;
}
div.breadcrumb {
    font-size: 1.1em;
}
div.breadcrumb .breadcrumb-title {
    color: #000000;
}
div#comments.comments-area {
    display: none;
}
div#page-is-under-construction {
    margin-bottom:    15px;
    border-radius:    8px;
    padding:          10px;
    text-align:       center;
    background-color: #0fbe7c;
    color:            #ffffff;
    font-weight:      bold;
}
article p,
article ul:not(#fpk-submenu-on-the-page):not(.fpk-tabs-on-the-page),
article ol {
    text-align:  justify;
    text-indent: 1.7em;
    line-height: 1.4em;
    font-size:   1.3em;
}
article ol {
    text-indent: 0;
}
article ol ul li {
    text-indent: 0;
    line-height: 1.4em;
    font-size:   0.75em;
}
article#post-689 div.contacts {
    padding-top:  10px;
    padding-left: 1.7em;
    font-size:    larger;
}
#fpk-about-specialties-cont,
#fpk-retraining-specialties-cont,
#fpk-retraining-specialties-cont-ex,
#fpk-retraining-cost-of-education-cont,
#fpk-retraining-cost-of-education-cont-ex,
#fpk-retraining-cost-of-education-cont-ex-1,
#fpk-retraining-cost-of-education-cont-ex-2 {
    overflow: auto;
}
#fpk-retraining-specialties-cont {
    overflow-y: hidden;
}
#fpk-about-specialties,
#fpk-retraining-specialties,
#fpk-retraining-specialties-ex {
    font-size: 1.2em;
}
#fpk-retraining-cost-of-education,
#fpk-retraining-cost-of-education-ex,
#fpk-retraining-cost-of-education-ex-1,
#fpk-retraining-cost-of-education-ex-2 {
    font-size: 1.1em;
}
#fpk-about-specialties                 td,
#fpk-retraining-specialties            td,
#fpk-retraining-specialties-ex         td,
#fpk-retraining-cost-of-education      td,
#fpk-retraining-cost-of-education-ex   td,
#fpk-retraining-cost-of-education-ex-1 td,
#fpk-retraining-cost-of-education-ex-2 td {
    border: 1px solid #0fbe7c;
}
#fpk-a-s-header-0        td,
#fpk-a-s-header-1        td,
#fpk-r-s-header-0        td,
#fpk-r-s-header-1        td,
#fpk-r-s-header-0-ex     td,
#fpk-r-s-header-1-ex     td,
#fpk-r-c-header-0        td,
#fpk-r-c-header-0-1      td,
#fpk-r-c-header-1        td,
#fpk-r-c-header-0-ex     td,
#fpk-r-c-header-0-1-ex   td,
#fpk-r-c-header-0-2-ex   td,
#fpk-r-c-header-1-ex     td,
#fpk-r-c-header-0-ex-1   td,
#fpk-r-c-header-0-1-ex-1 td,
#fpk-r-c-header-0-2-ex-1 td,
#fpk-r-c-header-1-ex-1   td,
#fpk-r-c-header-0-ex-2   td,
#fpk-r-c-header-0-1-ex-2 td,
#fpk-r-c-header-0-2-ex-2 td,
#fpk-r-c-header-1-ex-2   td {
    text-align:       center;
    background-color: #1fcf8d;
    color:            #ffffff;
    font-weight:      bold;
}
#fpk-a-s-header-1        td,
#fpk-r-s-header-1        td,
#fpk-r-s-header-1-ex     td,
#fpk-r-c-header-1        td,
#fpk-r-c-header-1-ex     td,
#fpk-r-c-header-1-ex-1   td,
#fpk-r-c-header-1-ex-2   td {
    background-color: #2fdf9e;
    font-size:        0.8em;
}
.fpk-a-s-body-td-center {
    text-align: center;
}
.fpk-a-s-body-td-right {
    text-align: right;
}
table.fpk-td-align   tr td:nth-child(1),
table.fpk-td-align-3 tr td:nth-child(1) {
    text-align: right;
}
table.fpk-td-align tr td:nth-child(4) {
    text-align: center;
}
.fpk-a-s-tooltip-anchor {
    position: relative;
}
.fpk-a-s-tooltip-anchor span.fpk-a-s-tooltip,
.fpk-a-s-tooltip-anchor div.fpk-a-s-tooltip {
    margin-left: -999em;
    position:    absolute;
}
div.fpk-a-s-tooltip-anchor p.fpk-a-s-tooltip-name {
    margin:      0;
    text-indent: 0;
    color:       #0fbe7c;
    font-size:   1em;
}
.fpk-a-s-tooltip-anchor:hover span.fpk-a-s-tooltip,
.fpk-a-s-tooltip-anchor:hover div.fpk-a-s-tooltip {
    top:         1.2em;
    left:        0;
    width:       560px;
    margin-left: -0.2em;
    z-index:     999;
}
#fpk-a-s-tooltip-anchor-18:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-19:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-21:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-23:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-24:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-25:hover span.fpk-a-s-tooltip,
#fpk-t-c-tooltip-anchor-10:hover span.fpk-a-s-tooltip,
#fpk-t-c-tooltip-anchor-11:hover span.fpk-a-s-tooltip,
#fpk-t-c-tooltip-anchor-13:hover span.fpk-a-s-tooltip,
#fpk-t-c-tooltip-anchor-14:hover span.fpk-a-s-tooltip {
    top: -19.6em;
}
#fpk-a-s-tooltip-anchor-20:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-22:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-26:hover span.fpk-a-s-tooltip,
#fpk-a-s-tooltip-anchor-27:hover span.fpk-a-s-tooltip {
    top: -19.7em;
}
.fpk-a-s-tooltip {
    border-radius:    10px;
    padding:          6px;
    background-color: #eaeaea;
    box-shadow:       0 0 15px 10px #acacac;
}
.fpk-a-s-tooltip-txt {
    border-radius:    6px;
    padding:          6px;
    background-color: #0fbe7c;
    color:            #ffffff;
    text-align:       center;
    font-size:        0.8em;
    font-weight:      bold;
    display:          block;
}
div.fpk-a-s-tooltip .fpk-a-s-tooltip-txt {
    padding:     0;
    text-indent: 0;
    font-size:   0.6em;
}
.fpk-a-s-tooltip-img {
    padding-top: 6px;
    display:     block;
}
.fpk-a-s-tooltip-img img {
    border-radius: 6px;
}
.fpk-a-s-tooltip-descr {
    padding: 0px 10px;
    color:   #333333;
}
.fpk-a-s-tooltip-descr p,
.fpk-a-s-tooltip-descr ol {
    font-size: 0.8em;
}
.fpk-a-s-tooltip-descr ol {
    padding-left: 2.8em;
}
#fpk-staff td {
    width:       100%;
    border:      none;
    line-height: 1.2em;
    font-size:   1.3em;
}
#fpk-staff img.photo {
    width:         188px;
    height:        250px;
    margin-right:  50px;
    border-radius: 10px;
    float:         left;
}
#fpk-staff h4 {
    padding-top: 10px;
    color:       #002060;
    font-size:   1.4em;
}
#fpk-staff h5 {
    padding-bottom: 10px;
    color:          #333333;
}
#fpk-staff div.contacts,
#fpk-staff div.schedule {
    padding-bottom: 10px;
    font-size:      smaller;
}
#fpk-submenu-on-the-page {
    margin:        0;
    border:        1px solid #eaeaea;
    border-radius: 10px;
    padding:       3px;
    font-size:     1.3em;
    box-shadow:    0 0 30px rgba(0, 0, 0, 0.05) inset;
}
#fpk-submenu-on-the-page li {
    display: grid;
}
#fpk-submenu-on-the-page a {
    border-radius: 8px;
    transition:    none;
}
/*
 * Styling links according to the LVHA-order:
 * :link --> :visited --> :hover --> :active.
 */
#fpk-submenu-on-the-page a:link,
#fpk-submenu-on-the-page a:visited,
#fpk-submenu-on-the-page a:hover,
#fpk-submenu-on-the-page a:active {
    padding: 8px 18px;
}
#fpk-submenu-on-the-page a:hover {
    background-color: #0fbe7c;
    color:            #ffffff;
}
.download-button {
    width:     80%;
    padding:   10px;
    font-size: 1.1em;
}
p .download-button {
    text-indent: 0;
}
div.nf-form-fields-required {
    margin-bottom: 10px;
    text-align:    center;
    font-size:     1.1em;
    font-weight:   bold;
}
textarea {
    border:        1px solid #0fbe7c !important;
    border-radius: 8px               !important;
}
div.one-half {
    width: 100% !important;
}
div#nf-field-46-container {
    margin-left: 0;
}
input[type="button"]#nf-field-16,
input[type="button"]#nf-field-53 {
    border:            2px solid #0fbe7c;
    border-radius:     8px;
    padding:           0px 30px 2px;
    background-color:  #0fbe7c;
    color:             #ffffff;
    font-size:         1.5em;
    font-weight:       bold;
    font-variant-caps: all-small-caps;
}
input[type="button"]#nf-field-16:hover,
input[type="button"]#nf-field-53:hover,
input[type="button"]#nf-field-16:active,
input[type="button"]#nf-field-53:active {
    border:           2px solid #1fcf8d;
    background-color: #1fcf8d;
    transition:       none;
}
span.fpk-generic-button-on-the-page {
    border:            2px solid #0fbe7c;
    border-radius:     8px;
    padding:           0px 30px 2px;
    background-color:  #0fbe7c;
    color:             #ffffff;
    font-size:         1.5em;
    font-weight:       bold;
    font-variant-caps: all-small-caps;
}
span.fpk-generic-button-on-the-page:hover,
span.fpk-generic-button-on-the-page:active {
    border:           2px solid #1fcf8d;
    background-color: #1fcf8d;
}
div.fpk-diploma-img-cont {
    margin-bottom: 10px;
    text-align:    center;
}
img.fpk-diploma-img {
    margin:           0;
    border-radius:    10px;
    padding:          10px;
    background-color: #000000;
}
p.fpk-diploma-img-p {
    margin:       0px 50px 25px;
    text-align:   center;
    text-indent:  0;
    color:        #333333;
    font-size:    1.1em;
    font-weight:  bold;
}
div.fpk-news-cont {
    margin-bottom: 10px;
    border-bottom: 2px solid #0fbe7c;
}
div.fpk-news-date-cont {
    padding:     0px 2px 8px;
    text-align:  right;
    font-size:   0.85em;
    font-weight: bold;
}
div.fpk-news-img-cont {
    padding:       2px;
    margin-bottom: 30px;
    text-align:    center;
}
img.fpk-news-img {
    margin:        0;
    border-radius: 10px;
}
/* --- Content - End ------------------------------------------------------- */

