
/* === FPK.I-BTEU.BY Spacious Theme Custom CSS ============================= */

/* --- Masthead - Begin ---------------------------------------------------- */
img.header-image,
div#header-text-nav-container {
    border: 0;
}
.better-responsive-menu #site-navigation,
.better-responsive-menu #header-text-nav-container {
    margin: 0;
}
div#header-text-nav-wrap {
    display: none;
}
.spacious-header-display-four .bottom-menu .main-navigation {
    width: 100%;
}
div.bottom-menu.clearfix {
    background-color: #0fbe7c;
}
div.inner-wrap.clearfix {
    width:  100%;
/*  margin: 0;*/
}
nav#site-navigation.main-navigation.clearfix {
    padding: 0;
}
li.mega-menu-item > a.mega-menu-link {
    font-size: 1.3em !important;
}
ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    font-size: 1.4em !important;
}
@media screen and (max-width: 768px) {
    div.bottom-menu.clearfix {
        background-color: #ffffff;
    }
}
/* --- Masthead - End ------------------------------------------------------ */

/* --- Footer - Begin ------------------------------------------------------ */
h2.fpk-footer-sidebar-caption {
    margin-bottom:     10px;
    border-bottom:     3px solid #0fbe7c;
    padding-bottom:    5px;
    text-align:        center;
    color:             #0fbe7c;
    font-size:         1.9em;
    font-weight:       bold;
    font-variant-caps: all-small-caps;
}
ul#menu-footer-menu {
    margin: 15px 5px;
}
li#menu-item-1210,
li#menu-item-1211,
li#menu-item-1212,
li#menu-item-435 {
    font-size: 1.3em;
}
p.fpk-footer-sidebar-paragraph {
    margin:      0;
    padding-top: 15px;
    text-align:  center !important;
    font-size:   1.3em  !important;
}
p.fpk-footer-sidebar-paragraph-ex {
    color: #cccccc !important;
}
img.fpk-footer-sidebar-logo {
    width:         80px;
    height:        80px;
    border:        0;
    border-radius: 8px;
}
div.fpk-footer-sidebar-contact-us-button {
    margin:            1.4em 3.5em;
    border:            2px solid #0fbe7c;
    border-radius:     8px;
    padding:           10px 20px 12px;
    text-align:        center;
    color:             #0fbe7c;
    font-size:         1.6em;
    font-weight:       bold;
    font-variant-caps: all-small-caps;
}
div.fpk-footer-sidebar-contact-us-button:hover,
div.fpk-footer-sidebar-contact-us-button:active {
    background-color: #0fbe7c;
    color:            #ffffff !important;
}
/*div.fpk-footer-sidebar-copyright {
    padding-top: 2px;
    text-align:  center;
    color:       #cccccc;
    font-size:   1.3em;
}*/
div.footer-socket-wrapper {
    height:           25px;
    border:           0;
    padding-top:      4px;
    background-color: #0fbe7c;
/*  display:          none;*/
}
div.copyright {
    color: #000000 !important;
}
div.footer-socket-wrapper div.copyright {
    max-width:  100%;
    text-align: center;
    font-size:  medium;
    float:      none;
}
div.copyright a {
    color: #ffffff !important;
}
div.tg-one-third,
div.tg-one-third.tg-column-2,
div.tg-one-third.tg-after-two-blocks-clearfix {
    padding-bottom: 0 !important;
}
#colophon .widget {
    padding: 0;
}
.widget_text .textwidget {
    padding: 0;
}
/* --- Footer - End -------------------------------------------------------- */

/* --- Content - Begin ----------------------------------------------------- */
div#page-is-under-construction {
    margin-bottom:    15px;
    border-radius:    8px;
    padding:          10px;
    text-align:       center;
    background-color: #0fbe7c;
    color:            #ffffff;
    font-weight:      bold;
}
article#post-15   p,
article#post-493  p,
article#post-493  ul,
article#post-499  p,
article#post-1492 p {
    text-align:  justify;
    text-indent: 1.7em;
    line-height: 1.4em;
    font-size:   1.3em;
}
#fpk-about-specialties-cont {
    overflow: auto;
}
#fpk-about-specialties {
    font-size: 1.2em;
}
#fpk-about-specialties td {
    border: 1px solid #0fbe7c;
}
#fpk-a-s-header-0 td,
#fpk-a-s-header-1 td {
    text-align:       center;
    background-color: #0fbe7c;
    color:            #ffffff;
    font-weight:      bold;
}
#fpk-a-s-header-1 td {
    background-color: #1fcf8d;
    font-size:        0.8em;
}
.fpk-a-s-body-td-right {
    text-align: right;
}
#fpk-staff td {
    width:  100%;
    border: none;
}
#fpk-submenu-on-the-page {
    margin:        0;
    border:        1px solid #eaeaea;
    border-radius: 10px;
    padding:       3px;
    font-size:     1.3em;
    box-shadow:    0 0 30px rgba(0, 0, 0, 0.05) inset;
}
#fpk-submenu-on-the-page li {
    display: grid;
}
#fpk-submenu-on-the-page a {
    border-radius: 8px;
    transition:    none;
}
/*
 * Styling links according to the LVHA-order:
 * :link --> :visited --> :hover --> :active.
 */
#fpk-submenu-on-the-page a:link,
#fpk-submenu-on-the-page a:visited,
#fpk-submenu-on-the-page a:hover,
#fpk-submenu-on-the-page a:active {
    padding: 8px 18px;
}
#fpk-submenu-on-the-page a:hover {
    background-color: #0fbe7c;
    color:            #ffffff;
}
.fpk-tabs-on-the-page {
    margin:      0px !important;
    padding:     0px !important;
    font-size:   1.3em;
}
.fpk-tabs-on-the-page li {
    list-style: none;
    display:    inline;
}
.fpk-tabs-on-the-page li a {
    margin:           0px 4px 4px 0px;
    border:           2px solid #0fbe7c;
    border-radius:    8px 8px 0px 0px;
    padding:          10px 20px;
    display:          block;
    float:            left;
    background-color: #0fbe7c;
    color:            #ffffff;
}
.fpk-tabs-on-the-page a:hover {
    border:           2px solid #eaeaea;
    background-color: #eaeaea;
    color:            #333333;
}
.download-button {
    width:     80%;
    padding:   10px;
    font-size: 1.1em;
}
div.nf-form-fields-required {
    margin-bottom: 10px;
    text-align:    center;
    font-size:     1.1em;
    font-weight:   bold;
}
textarea {
    border:        1px solid #0fbe7c !important;
    border-radius: 8px               !important;
}
input[type="button"]#nf-field-16 {
    border:            2px solid #0fbe7c;
    border-radius:     8px;
    padding:           10px 30px 14px;
    background-color:  #0fbe7c;
    color:             #ffffff;
    font-size:         1.6em;
    font-weight:       bold;
    font-variant-caps: all-small-caps;
}
input[type="button"]#nf-field-16:hover,
input[type="button"]#nf-field-16:active {
    border:           2px solid #0fbe7c;
    background-color: #ffffff;
    color:            #0fbe7c;
    transition:       none;
}
/* --- Content - End ------------------------------------------------------- */

