<%# src/data/blog/poetry/index.ejs %>

<% var POEM_99_CKBD_23YO = "To Caroline Kozhukhova on her birthday, 23yo"; %>

<% var EN_US = "(en-US)"; %>
<% var RU_RU = "(ru-RU)"; %>

<h1><%= sitename_.substring(2) %></h1>
<h3><%= subtitle3              %></h3>
<div>
<ul>
<li><a href="/data/blog/poetry/caroline-kozhukhova-birthday-23yo-19981219-ru" target="_blank"><%- POEM_99_CKBD_23YO %></a> <%- RU_RU %></li>
</ul>
</div>

<%# vim:set nu et ts=4 sw=4: %>
