<%# src/404.ejs %>

<% var SITENAME_ = ": 404 Not Found"; %>

<%- include("header", {sitename_: SITENAME_}); -%>
<!--table width="0" border="0" cellspacing="0" cellpadding="0" id="body--">
<tbody>
<tr>
<td id="top---td">&nbsp;</td>
</tr>
</tbody>
</table-->
<%- include("footer"); -%>

<%# vim:set nu et ts=4 sw=4: %>
