<% /*
* src/footer.ejs
* =============================================================================
* A Cup of Radicchio. Version 0.1
* =============================================================================
* A Cup of Radicchio: A personal website of a power looper,
*                                           a skateboarder,
*                                       and a coder.
* =============================================================================
* Copyright (C) 2016-2019 Radislav (Radicchio) Golubtsov
*/ %>

</body>
</html>

<%# vim:set nu et ts=4 sw=4: %>
