<%# src/index.ejs %>

<p style="padding-top:14px;text-align:center"><img src="/static/img/misc/window-maker-0.95.8-info-panel-on-arch-linux-384x278.png" style="border:0;width:384px;height:278px" alt="Window Maker 0.95.8 Info Panel on Arch Linux" /></p>

<%# vim:set nu et ts=4 sw=4: %>
