<%# src/index.ejs %>

<h3><code>HTTP 200 OK</code></h3>
<p class="orbit"><strong>To Whom It May Concern</strong></p>
<p>This is what <span class="orbit">Radicchio</span> loves so much:</p>
<pre><code>$ # Git.
$ git status &amp;&amp; git fetch -p &amp;&amp; git branch -a &amp;&amp; git tag -l &amp;&amp; git pull &amp;&amp; git status
</code></pre>
<p>The second one is a combination of <code>find</code> and <code>grep</code>:</p>
<pre><code>$ # Find and print line(s) of text, based on a specified regex pattern.
$ find . -type f -print0 | xargs -0 grep '&lt;regex&gt;'
</code></pre>
<p>The third one is a combination of <code>grep</code> and <code>sed</code> (or <code>perl</code>, where applicable):</p>
<pre><code>$ # Find a text, based on a specified regex pattern, then pass corresponding filenames to Sed (or Perl) for replacing that text with another one.
$ grep -Rl '&lt;regex_to_replace&gt;' | xargs sed   -i -e 's/&lt;regex_to_replace&gt;/&lt;regex-replacer&gt;/g'
$ grep -Rl '&lt;regex_to_replace&gt;' | xargs perl -pi -e 's/&lt;regex_to_replace&gt;/&lt;regex-replacer&gt;/g'
</code></pre>
<p>The fourth one is a one-time procedure of logging into a VM box or any other remote host, using SSH public key authentication:</p>
<pre><code>$ # Run SSH agent in the background and add a private key.
$ eval `ssh-agent -s` &amp;&amp; ssh-add ~/.ssh/id_rsa
$ # Log into a running VM box by means of SSH client.
$ ssh -C &lt;vmusername&gt;@&lt;vmhostname&gt;
</code></pre>
<p>The fifth one is a series of requests for getting statuses of power supply sensors on a laptop in any modern Linux distro like Arch Linux or Ubuntu:</p>
<pre><code>$ # Query AC adapter.
$ cat /sys/class/power_supply/AC+(AD|1)/online
$ # Query the battery.
$ cat /sys/class/power_supply/BAT1/+(charge|energy)_full
$ cat /sys/class/power_supply/BAT1/+(charge|energy)_now
$ cat /sys/class/power_supply/BAT1/+(current|power)_now
</code></pre>
<p>The sixth one is an infrequent, from time to time procedure of adjusting the Hardware Clock and the System Clock in the same time:</p>
<pre><code>$ # Set the Hardware Clock and the System Clock unconditionally, non-synced.
$ sudo hwclock --set --date="CCYY-MM-DD hh:mm:ss" --localtime &amp;&amp; sudo date MMDDhhmmCCYY.ss
$ #                          ||      ||                                      ^^    ^^
$ #    YY - Year             ||      ||                                      ||    ||
$ #    MM - Month            ||      |+------------ Day of month ------------+|    ||
$ #    hh - Hour             ||      +----------------------------------------+    ||
$ #    mm - Minute           |+---------------------- Century ---------------------+|
$ #    ss - Second           +------------------------------------------------------+
</code></pre>
<p style="text-align:left">Drink with <strong>pleasure</strong>, consume <strong>responsibly</strong>, at leisure! <img src="https://github.githubassets.com/images/icons/emoji/unicode/1f603.png" class="emoji" alt="Ha-ha!))" /></p>

<%# vim:set nu et ts=4 sw=4: %>
