<%# src/index.ejs %>

<h3><code>HTTP/1.1 200 OK</code></h3>
<p><strong>To Whom It May Concern</strong></p>
<p>This is what Radicchio loves so much:</p>
<pre><code>$ # Git.
$ git status && git fetch -p && git branch -a && git tag -l && git pull && git status
</code></pre>
<p>The second one is a combination of <code>find</code> and <code>grep</code>:</p>
<pre><code>$ # Find and print line(s) of text, based on a specified regex pattern.
$ find . -type f -print0 | xargs -0 grep '<regex>'
</code></pre>

<%# vim:set nu et ts=4 sw=4: %>
