<!DOCTYPE html>
<html lang="ru-RU" dir="ltr">
<head>
<meta http-equiv="Content-Type"    content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta       name="viewport"        content="width=device-width,initial-scale=1" />
<meta       name="description"     content="Website restoring from backup: Joomla! and MariaDB" />
<meta       name="author"          content="Radislav (Radicchio) Golubtsov" />
<title>Восстановление веб-сайта из бэкапа</title>
<link href="/favicon.ico" type="image/png" rel="icon" />
<link href="https://fonts.googleapis.com"  rel="preconnect" />
<link href="https://fonts.gstatic.com"     rel="preconnect" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
<style>
body {
    margin:           0px 0px 20px;
    padding:          0;
    background-color: #6ec63b;
    color:            #000000;
    font-family:      "Open Sans", sans-serif;
}
h2 {
    margin:           20px;
    padding-right:    10px;
    padding-left:     8px;
    color:            #7aef17;
    font-size:        1.4em;
}
p {
    margin:           0px 20px 0px;
    padding:          0px 10px 14px;
    text-align:       justify;
    text-indent:      1.5em;
}
pre {
    margin:           0px 54px 14px;
    border-radius:    10px;
    padding:          14px;
    overflow:         auto;
    line-height:      1.5;
    background-color: #5db52a;
    font-family:      "Roboto Mono", monospace;
}
code {
    border-radius:    4px;
    padding:          2px 6px;
    line-height:      1.5;
    background-color: #5db52a;
    color:            #7aef17;
    font-family:      "Roboto Mono", monospace;
}
/*
 * Styling links according to the LVHA-order:
 * :link --> :visited --> :hover --> :active.
 */
a:link, a:visited, a:hover, a:active {
    border:           1px solid #6ec63b;
    padding:          3px;
    text-decoration:  none;
    color:            #4ca419;
}
a:hover {
    border:           1px solid #69df06;
    background-color: #5db52a;
    color:            #7aef17;
}
</style>
</head>
<body>
<h2>Восстановление веб-сайта из бэкапа</h2>
<p>Для восстановления из бэкапа веб-сайта (полной установки <strong>Joomla!</strong>) и базы данных к нему (<strong>MariaDB</strong>), необходимо проделать ряд операций. Все они несложные, но их нужно выполнять обязательно на самом веб-сервере в командной строке (в оболочке <strong>Bash</strong>, установленной там по умолчанию).</p>
<p>Будем полагать, что мы уже залогинились по SSH на веб-сервер (виртуальная машина Ubuntu 20.04.2 LTS, 192.168.0.WEB):</p>
<pre>
$ ssh -C &lt;vmusername&gt;@192.168.0.WEB
Welcome to Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
...
$
</pre>
<p>Все бэкапы хранятся на FTP-сервере (192.168.0.FTP), поэтому необходимо зайти на этот сервер через FTP-клиент:</p>
<pre>
$ pftp 192.168.0.FTP
Connected to 192.168.0.FTP.
220 Microsoft FTP Service
Name (192.168.0.FTP:&lt;ftpusername&gt;): &lt;ftpusername&gt;
331 Password required for &lt;ftpusername&gt;.
Password:
230 User logged in.
Remote system type is Windows_NT.
ftp&gt;
</pre>
<p>Далее нужно скачать требующуюся версию бэкапа. Бэкапы делаются каждую ночь в 02:30. Идентифицируем необходимый нам бэкап &mdash; просто смотрим листинг каталога, где они размещены:</p>
<pre>
ftp&gt; cd tmp/abcd
250 CWD command successful.
ftp&gt;
ftp&gt; ls
227 Entering Passive Mode (192,168,0,FTP,215,19).
125 Data connection already open; Transfer starting.
06-29-21  02:00PM             10217764 x-abcd-joomla3-192.168.0.WEB-20210624-2000.txz
06-29-21  02:00PM             10217764 x-abcd-joomla3-192.168.0.WEB-20210624-2010.txz
06-29-21  02:00PM             10218408 x-abcd-joomla3-192.168.0.WEB-20210625-0230.txz
06-29-21  02:00PM             10218160 x-abcd-joomla3-192.168.0.WEB-20210626-0230.txz
06-29-21  02:00PM             10218876 x-abcd-joomla3-192.168.0.WEB-20210627-0230.txz
06-29-21  02:00PM             10218296 x-abcd-joomla3-192.168.0.WEB-20210628-0230.txz
06-29-21  02:00PM             10218440 x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz
06-29-21  02:00PM                61816 xabcdjoomla3db-192.168.0.WEB-20210624-2000.sql.xz
06-29-21  02:00PM                61816 xabcdjoomla3db-192.168.0.WEB-20210624-2010.sql.xz
06-29-21  02:00PM                62360 xabcdjoomla3db-192.168.0.WEB-20210625-0230.sql.xz
06-29-21  02:00PM                64940 xabcdjoomla3db-192.168.0.WEB-20210626-0230.sql.xz
06-29-21  02:00PM                60568 xabcdjoomla3db-192.168.0.WEB-20210627-0230.sql.xz
06-29-21  02:00PM                60996 xabcdjoomla3db-192.168.0.WEB-20210628-0230.sql.xz
06-29-21  02:00PM                61300 xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql.xz
226 Transfer complete.
ftp&gt;
</pre>
<p>Здесь <code>*.txz</code> &mdash; тарболы каталога веб-сайта (полной установки <strong>Joomla!</strong>), <code>*.sql.xz</code> &mdash; сжатые дампы базы данных веб-сайта. Выбираем, например, бэкапы от 29 июня 2021 года &mdash; ими будут следующие файлы:</p>
<pre>
x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz
xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql.xz
</pre>
<p>Отключаем запросы на подтверждение операций с несколькими файлами, а также включаем двоичный режим передачи данных:</p>
<pre>
ftp&gt; prom
Interactive mode off.
ftp&gt;
ftp&gt; bi
200 Type set to I.
ftp&gt;
</pre>
<p>Скачиваем эти бэкапы в свой домашний каталог на веб-сервере (то есть туда, где мы сейчас находимся):</p>
<pre>
ftp&gt; mg x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql.xz
local: x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz remote: x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz
227 Entering Passive Mode (192,168,0,FTP,215,28).
125 Data connection already open; Transfer starting.
226 Transfer complete.
10218440 bytes received in 0.09 secs (110.7645 MB/s)
local: xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql.xz remote: xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql.xz
227 Entering Passive Mode (192,168,0,FTP,215,29).
125 Data connection already open; Transfer starting.
226 Transfer complete.
61300 bytes received in 0.00 secs (48.0759 MB/s)
ftp&gt;
</pre>
<p>Оба бэкапа скачаны, можно выйти из FTP-клиента &mdash; комбинация клавиш <code>&lt;Ctrl-D&gt;</code> или команда <code>by</code>:</p>
<pre>
ftp&gt;
ftp&gt; 221 Goodbye.
$
</pre>
<p>Теперь можно посмотреть на эти файлы локально в файловой системе веб-сервера:</p>
<pre>
$ ls -l
total 10040
-rw-rw-r-- 1 &lt;vmusername&gt; &lt;vmusergroup&gt; 10218440 Jun 29 16:25 x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz
-rw-rw-r-- 1 &lt;vmusername&gt; &lt;vmusergroup&gt;    61300 Jun 29 16:25 xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql.xz
$
</pre>
<p>Сначала сделаем восстановление базы данных. Для этого выполним декомпрессию дампа базы данных:</p>
<pre>
$ unxz xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql.xz
$
$ ls -l
total 11500
-rw-rw-r-- 1 &lt;vmusername&gt; &lt;vmusergroup&gt; 10218440 Jun 29 16:25 x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz
-rw-rw-r-- 1 &lt;vmusername&gt; &lt;vmusergroup&gt;  1555738 Jun 29 16:25 xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql
$
</pre>
<p>А теперь выполним собственно восстановление базы данных из этого дампа (<a href="https://mariadb.com/kb/en/mysqldump/#restoring" target="_blank" rel="noopener noreferrer" title="Откроется в новом окне">источник</a>):</p>
<pre>
$ mysql -uroot -p xabcdjoomla3db &lt; xabcdjoomla3db-192.168.0.WEB-20210629-0230.sql
Enter password:
...
$
</pre>
<p><strong>База данных веб-сайта восстановлена и сразу же доступна для работы.</strong></p>
<p>Осталось проделать восстановление каталога веб-сайта (полной установки <strong>Joomla!</strong>) в файловой системе. Предварительно необходимо полностью удалить все файлы и подкаталоги из этого каталога, но сам его оставить, то есть оставить пустым:</p>
<pre>
$ sudo rm -Rf /var/www/x-abcd-joomla3/*
$
$ ls -al /var/www/x-abcd-joomla3/
total 8
drwxr-xr-x 2 www-data www-data 4096 Jul  1 16:07 .
drwxrwxr-x 6 www-data www-data 4096 Jul  1 16:05 ..
$
</pre>
<p>Видим выше, что из этого каталога все удалено. Распаковываем тарбол, предварительно перейдя в корневой каталог (делаем это составной однострочной командой):</p>
<pre>
$ cd / &amp;&amp; sudo tar -xf ~/x-abcd-joomla3-192.168.0.WEB-20210629-0230.txz
$
$ ls -al /var/www/x-abcd-joomla3/
total 120
drwxr-xr-x 17 www-data www-data  4096 Jul  1 16:35 .
drwxrwxr-x  6 www-data www-data  4096 Jul  1 16:05 ..
drwxr-xr-x 11 www-data www-data  4096 Jul  1 16:35 administrator
drwxr-xr-x  2 www-data www-data  4096 Jul  1 16:35 bin
drwxr-xr-x  3 www-data www-data  4096 Jul  1 16:35 cache
drwxr-xr-x  2 www-data www-data  4096 Jul  1 16:35 cli
drwxr-xr-x 20 www-data www-data  4096 Jul  1 16:35 components
-r--r--r--  1 www-data www-data  3759 Jul  1 16:35 configuration.php
...
$
</pre>
<p><strong>Веб-сайт полностью восстановлен и доступен для работы. Можно логиниться и заходить в панель управления Joomla!</strong></p>
<p style="text-align:right"><a href="https://anybrowser.org/campaign/" target="_blank" rel="nofollow noopener"><img style="border:0;width:88px;height:31px" src="/static/img/misc/vwab" alt="Viewable With Any Browser" /></a><a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank" rel="nofollow noopener"><img style="border:0;width:88px;height:31px" src="/static/img/misc/vcss" alt="Valid CSS!" /></a></p>
</body>
</html>
